.home {
    margin-top: 5rem;
    height: 100vh;

    .home___contents {
        padding: 2rem;
        display: flex;
        gap: 2rem;

        .contents {
            width: 62rem;
            display: grid;
            gap: 2rem;
            font-size: 1.3rem;

            .header___img {
                height: 17rem;
                border-radius: 1rem;
                background-color: red;
            }

            p { text-align: justify; }
        }

        .ads { 
            width: 20rem;
            padding: 1rem;
            font-size: 1.3rem;
            text-align: center;
            border-radius: 1rem;
            background-color: #afaaaa; 
        }
    }
}